<div id="form-container">
  <div id="children" class="children-container">
  <div class="form_fields_container">
    <div>
      <h1 ng-if="!showReversed()" class="children-heading" translate translate-values="{'father': formData[personData.father].firstName + ' ' + formData[personData.father].lastName, 'mother': formData[personData.mother].firstName + ' ' + formData[personData.mother].lastName}">{{'children_of'}}</h1>

      <h1 ng-if="showReversed()" class="children-heading" translate translate-values="{'father': formData[personData.father].lastName + ' ' + formData[personData.father].firstName, 'mother': formData[personData.mother].lastName + ' ' + formData[personData.mother].firstName}">{{'children_of'}}</h1>


      <div>
        <div class="clearfix">
          <div class="child disabledChild clearfix">
            <div class="childImage">
              <img ng-src="{{formData[personData.sibling].gender === 'Female' ? 'assets/img/icon/inactive-mother.png' : 'assets/img/icon/unknown.png'}}">
            </div>
            <div class="childData">
              <h2 ng-if="!showReversed()" class="childName">{{formData[personData.sibling].firstName}} {{formData[personData.sibling].lastName}}</h2>

              <h2 ng-if="showReversed()" class="childName">{{formData[personData.sibling].lastName}} {{formData[personData.sibling].firstName}}</h2>


              <h3 class="childDates">{{formData[personData.sibling].birth.date}} - {{formData[personData.sibling].death.date || formData[personData.sibling].living === 'true' && ('living_tag' | translate) || formData[personData.sibling].living === 'false' && ('deceased_tag' | translate) || ('unknown_living' | translate)}}</h3>
            </div>
          </div>
        </div>
      </div><!-- end ngRepeat: child in persons | orderBy:birthOrderSort -->
      <div  ng-if="countSiblings(formData[personData.generationTitle]) >= 1" ng-repeat="person in formData[personData.generationTitle]">
        <a class="child clearfix" ng-href="#/booklet/{{locale}}/{{personData.sibling}}/add/{{$index + 1}}" ng-click="setSibNumber($index + 1)">
          <div class="childImage">
            <img ng-src="{{person.gender === 'Female' ? 'assets/img/icon/sister.png' : 'assets/img/icon/brother.png'}}">
          </div>
          <div class="childData">
            <h2 ng-if="!showReversed()" class="childName">{{person.firstName}} {{person.lastName}}</h2>

            <h2 ng-if="showReversed()" class="childName">{{person.lastName}} {{person.firstName}}</h2>


            <h3 class="childDates">{{person.birth.date}} - {{person.death.date || person.living === 'true' && ('living_tag' | translate) || person.living === 'false' && ('deceased_tag' | translate) || ('unknown_living' | translate)}}</h3>
          </div>
        </a>
      </div><!-- end ngRepeat: child in persons | orderBy:birthOrderSort -->
      
    </div>
    
    <div id="addChild">
      <a class="addChildButton" translate  data-ng-click="addSibling()" data-ui-sref-opts="{reload: true, inherit: true}">{{'add_sibling'}}</a>
    </div>
    
    
    <button class="button primary" ng-click="goTo(personData.next)" data-ui-sref-opts="{reload: true, inherit: true}">{{'SaveAndContinue' | translate}}</button>
  </div>
</div>
</div>