<table class="nameTemplatesTable">
  <tr>
    <th ng-if="!showReversed()" translate>{{'first_name'}}</th>
    <th ng-if="!showReversed()" translate>{{'last_name'}}</th>
    <th ng-if="showReversed()" translate>{{'last_name'}}</th>
    <th ng-if="showReversed()" translate>{{'first_name'}}</th>
  </tr>
  <tr ng-if="!personData.sibling">
    <td ng-if="!showReversed()">
      <input type="text" name="first names" ng-model="formData[personData.generationTitle].firstName" placeholder="{{'first_name_placeholder' | translate}}">
    </td>
    <td ng-if="!showReversed()">
      <input type="text" name="last names" ng-model="formData[personData.generationTitle].lastName" placeholder="{{'last_name_placeholder' | translate}}">
    </td>
    <td ng-if="showReversed()">
      <input type="text" name="last names" ng-model="formData[personData.generationTitle].lastName" placeholder="{{'last_name_placeholder' | translate}}">
    </td>
    <td ng-if="showReversed()">
      <input type="text" name="first names" ng-model="formData[personData.generationTitle].firstName" placeholder="{{'first_name_placeholder' | translate}}">
    </td>
  </tr>
  <tr ng-if="personData.sibling">
    <td ng-if="!showReversed()">
      <input type="text" name="first names" ng-model="formData[personData.generationTitle][personData.sibNumber].firstName" placeholder="{{'first_name_placeholder' | translate}}">
    </td>
    <td ng-if="!showReversed()">
      <input type="text" name="last names" ng-model="formData[personData.generationTitle][personData.sibNumber].lastName" placeholder="{{'last_name_placeholder' | translate}}">
    </td>
    <td ng-if="showReversed()">
      <input type="text" name="last names" ng-model="formData[personData.generationTitle][personData.sibNumber].lastName" placeholder="{{'last_name_placeholder' | translate}}">
    </td>
    <td ng-if="showReversed()">
      <input type="text" name="first names" ng-model="formData[personData.generationTitle][personData.sibNumber].firstName" placeholder="{{'first_name_placeholder' | translate}}">
    </td>
  </tr>
</table>
