<div class="pdf form_fields_container clearfix" ng-controller="PdfCtrl">
  <div id="here" ng-click="load(inputs.readFile)">don't click just yet</div>
<!--  <div ng-controller="GetDataCtrl">
    <div ng-repeat="names in titles">
          <span class="serif" translate>{{names}} is translated</span>
    </div>
  </div> -->
  <button ng-click="generate()" class="button primary center-button" translate>{{'cta_button_pedigree'}}</button>
  <button class="button secondary center-button" translate>{{'cancel'}}</button>
</div>
